@using Discord.WebSocket
@using Mute.Moe.Extensions

@{
    ViewData["Title"] = "Index";
}

<ul>
    @foreach (var id in User.Identities)
    {
        <li>IsAuthenticated: @id.IsAuthenticated</li>
        <li>Label: @id.Label</li>
        <li>Name: @id.Name</li>
        <li>NameClaimType: @id.NameClaimType</li>
        <li>RoleClaimType: @id.RoleClaimType</li>
        <li>Actor: @id.Actor</li>
        <li>AuthenticationType: @id.AuthenticationType</li>
    }
</ul>

@foreach (var id in User.Identities)
{
    <h1>Claims for ID: @id.Name</h1>
    <ul>
        @foreach (var claim in id.Claims)
        {
            <li>@claim.Issuer: @claim.Type "@claim.Value"</li>
        }
    </ul>
}

@{
    var user = User.TryGetDiscordUser((DiscordSocketClient)ViewData["_client"]);
    if (user != null)
    {
        foreach (var guild in user.MutualGuilds)
        {
            <img src="@guild.IconUrl" width="50" height="50" style="border-radius: 25px;" Alt="Guild icon for '@guild.Name'" />
        }
    }
}

